@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This page should show the user their daily progess compared to the goals they set.</p>
    <p>They should be able to select different days on this page to view as well.</p>
    <p>Should show tally of macros for the day too.</p>
</div>
