@page
@model Mentorship_CalorieTracker.Pages.JournalModel
@{
    ViewData["Title"] = "Journal";
}

<div class="text-center">
    <h1>Food Journal</h1>
    <p>This page should list the user's food journal entries. Plus it should link to an add/edit journal entry page for each listing, plus for a new listing.</p>
</div>
