@page
@model Mentorship_CalorieTracker.Pages.JournalEntryModel
@{
    ViewData["Title"] = "Journal Entry";
}

<div class="text-center">
    <h1>Journal Entry</h1>
    <p>This page should have a form to add/edit a journal entry. Basically the following inputs.</p>
    <ul>
        <li>DateTime</li>
        <li>Food name</li>
        <li>Number of servings eaten</li>
        <li>Grams of protein per serving</li>
        <li>Grams of fat per serving</li>
        <li>Grams of carbohydrates per serving</li>
    </ul>
    <p>It might be nice to provide a typeahead here for the "Food name". Then with some magic we could pull in previous entries for the food item. Sorta like build your own food look up library.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Entry Date</label>
                    <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>

            </form>
        </div>
    </div>
    <div class="row">
        <div class="col col-8">
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Food</label>
                <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
        </div>
        <div class="col col-4">
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Servings</label>
                <input type="text" class="form-control" id="exampleInputPassword1">
            </div>

        </div>

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</div>