@page
@model Mentorship_CalorieTracker.Pages.JournalEntryModel
@{
    ViewData["Title"] = "Journal Entry";
}
<div class="text-center">
    <form method="post" class="p-4">
        <h2 class="mb-3">
            @if(Model.Entry.Id == 0)
            {
                <span>Add New Entry</span>
            }
            else
            {
                <span>Edit Entry</span>
            }
            </h2>
        <input type="hidden" asp-for="Entry.Id" />
        <div class="mb-3">
            <label asp-for="Entry.EntryDate" class="form-label">Entry Date</label>
            <input asp-for="Entry.EntryDate" class="form-control" type="datetime-local" />
        </div>
        <div class="mb-3">
            <label asp-for="Entry.Food" class="form-label">Food</label>
            <input asp-for="Entry.Food" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Entry.Servings" class="form-label">Servings</label>
            <input asp-for="Entry.Servings" class="form-control" type="number" />
        </div>
        <div class="mb-3">
            <label asp-for="Entry.ProteinGrams" class="form-label">Protein (g)</label>
            <input asp-for="Entry.ProteinGrams" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Entry.FatGrams" class="form-label">Fat (g)</label>
            <input asp-for="Entry.FatGrams" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Entry.CarbohydratesGrams" class="form-label">Carbohydrates (g)</label>
            <input asp-for="Entry.CarbohydratesGrams" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>