@page
@model Mentorship_CalorieTracker.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<div class="text-center">
    <h1>Profile</h1>
    <p>This is the user profile page. They should be able to edit their information. IMPORTANT, they should be able to edit their daily goal here.</p>
</div>
